@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.color .col-sm-12{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(201, 192, 192);
}
a{
    color: grey;
}
a:hover{
    color: red;
}
.card{
    margin-left: 20px;
    border: none;
}