body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

main {
	padding-top: 165px;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: #000;
}

a:hover {
	/*color: #9B9B9B;*/
	/*color: #4A4A4A;*/
	color: #B8B8B8;
}

nav {
	background-color: #fff!important;
}

input {
	border-radius: 0!important;
	border: 1px solid #000 !important;
	color: #000 !important;
}

button {
	border-radius: 0!important;
}

/*-----------------
	Header
------------------*/
#info-bar {
	font-size: 0.8rem;
	background-color: #000;
}

#main-nav {
	background-color: #fff!important;
}

.navbar-brand {
	font-size: 3rem!important;
	font-weight: 700;
}

.navbar-nav {
	font-size: 0.9rem;
	align-items: baseline;
}

#shoppingCart {
	font-size: 1.1rem;
}

.navbar-nav a {
	color: #B8B8B8 !important;
}

#searchForm {
	border: 1px solid #000 !important;
}

#searchBox input {
	border: 1px solid transparent !important;
	padding: 0 0 0 36px !important;
	color: #000 !important;
	width: 400px !important;
	font-size: 0.8rem !important;
}

#searchIcon {
	background-color: #fff !important;
	border-radius: 0 !important;
	border: 1px solid transparent !important;
}

#searchBtn {
	border: 1px solid transparent !important;
	border-left: 1px solid #000 !important;
	font-size: 0.8rem !important;
}

#searchBtn:hover {
	background-color: #000;
}

#shopping:hover {
	color: #000;
}

#category-bar {
	font-size: 0.9rem;
	font-weight: 700;
}

/*-----------------
	Footer
------------------*/
#footer-nav {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	font-size: 0.8rem;
	text-align: right;
}

.footerTitle {
	font-size: 1rem;
	font-weight: 700;
}

#footerLinks {
	font-size: 0.8rem;
	border-bottom: 1px solid #E5E5E5;
}

.footerText {
	font-size: 0.9rem;
}

.social {
	font-size: 2rem;
}

/*-----------------
	Home
------------------*/
/* Make the image fully responsive */
h6 {
	font-weight: 700;
	font-size: 0.95rem;
}

.thumb {
	display: inline-block;
	text-align: left;
	font-size: 0.9rem;
	font-weight: 600;
}

/*-------------------
	All Products Page
--------------------*/

/*	Filter Form	*/

.filters {
	box-sizing: border-box;
	padding: 5px 30px 30px;
	width: 190px;
	background-color: #FFF;
	border: 1px solid #DBE3E7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
	position: fixed;
	text-align: left;
	color: #2B2E31;
	opacity: 0;
	pointer-events: none;
}

.filters .filter-criteria{
	display: block;
	margin: 10px 0 10px;
}

.filters span{
	font-size:14px;
	display: block;
	margin-bottom: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.filters label{
	display: block;
	line-height: 1.4;
	font-size: 15px;
}

.filters label input{
	margin-right: 10px;
}

.filters button{
	border-radius: 2px;
	background-color:  #4BC34B;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;

	width: 95px;
	height: 32px;
	margin-top: 10px;
}


/*	Products List	*/

.all-products h3{
	opacity: 0;
}

.products-list{
	list-style:none;
	margin-left:225px;
	max-width: 1500px;
	text-align: center;
	padding: 0;
	opacity: 0;
	font-size: 0;
}

.all-products.visible .products-list,
.all-products.visible .filters,
.all-products.visible h3{
	opacity: 1;
	transition: 1s;
	pointer-events: auto;
}

.products-list > li{
	box-sizing:border-box;
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	text-align:left;
	font:normal 12px sans-serif;

	background-color:#ffffff;
	border:1px solid #dbe3e7;
	border-radius: 3px;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

	margin: 0 12px 14px 0;
	padding: 25px;
}

.products-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}

/* The product image */

.products-list .product-photo{
	display: block;
	text-align: center;
	box-shadow : 0 0 20px 8px #f3f3f3 inset;

	width: 275px;
	margin-bottom: 25px;
	padding: 20px 0;
	box-sizing: border-box;
}

/* The product name */

.products-list h2{
	display: block;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 200px;
	margin:0;
}

.products-list h2 a{
	text-decoration: none;
	color: #2B2E31;
}

/* Product description */

.products-list .product-description{
	margin-top: 20px;

	color: #5d5d5d;
	font-size: 14px;
	line-height: 1.45;
	white-space: normal;

	max-width: 260px;
	margin-bottom: 20px;

	list-style: none;
}

.products-list .product-description li{
	display: inline-block;
	margin-right: 5px;
}

.products-list .product-description li:first-child{
	display: block;
}

.products-list .product-description li span{
	font-weight: bold;
}

/* Price and order button */

.products-list button{
	border-radius: 2px;
	background-color:  #87bae1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;

	width: 95px;
	height: 32px;
}

.products-list .product-price{
	float: right;

	color:  #4e4e4e;
	font-weight: bold;
	font-size: 20px;

	padding-top: 6px;
	margin: 0;
}

.products-list .highlight{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.1);
	opacity: 0;
	transition: 0.4s;
}

.products-list > li:hover .highlight{
	opacity: 1;
}

/* Making the list responsive */

@media (max-width: 800px){

	.products-list .product-photo{
		width: 225px;
	}

	.products-list .product-description{
		max-width: 225px;
	}
}


/*---------------------------
	Single Product Page
----------------------------*/



/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}

