<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="assets/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row mb-3">
      <div class="col-sm-6 mx-auto"><img src="http://via.placeholder.com/550x550"></div>
      <div class="col-sm-6 mx-auto"><img src="http://via.placeholder.com/550x550"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="carouselNovedades" class="carousel slide mb-3" data-ride="carousel">
          <h6 class="ml-5">NOVEDADES</h6>
          <div class="row text-center justify-content-center">
            <div class="carousel-inner col-sm-12">
              <div class="carousel-item active">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselNovedades" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselNovedades" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próxima</span>
          </a>
        </div>
        <div id="carouselDestacados" class="carousel slide mb-3" data-ride="carousel">
          <h6 class="ml-5">DESTACADOS</h6>
          <div class="row text-center justify-content-center">
            <div class="carousel-inner col-sm-12">
              <div class="carousel-item active">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                  <div class="thumb col-2">
                    <img src="http://via.placeholder.com/230x230" alt="First slide">
                    <a href="#">Product name</a>
                    <p>$9.990</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselDestacados" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselDestacados" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próxima</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="assets/js/paypal.js"></script>
  <script src="assets/js/handlebars-v4.0.11.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>